name: release

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Create bundle
        run: |
          zip -r release_bundle.zip bundle_root docs spec tools

      - name: Upload Release Asset
        uses: softprops/action-gh-release@v1
        with:
          files: release_bundle.zip
