name: verify-k0

on:
  pull_request:
    branches: [ "main" ]
  push:
    branches: [ "main" ]

jobs:
  verify:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install PowerShell
        uses: PowerShell/PowerShell-For-GitHub-Actions@v1
        with:
          version: "7.4.1"

      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Run verification
        shell: pwsh
        run: |
          pwsh -File verify_all.ps1
